/* components/order-detail-tip/index.wxss */
.tip{
    height: 70rpx;
    line-height: 70rpx;
    padding-left: 30rpx;
    color: #000;
    font-size: 28rpx;
    font-weight: 700;
    background-color: pink;
    border-bottom: 2rpx solid #4e168c;
}