/* pages/subPages/order-pay-detail/index.wxss */
.decorate {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 100);
}

.page {
    padding: 30rpx 28rpx;
}

.order-info {
    margin-top: 30rpx;
    padding: 30rpx 30rpx;

    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 40rpx;
        margin-bottom: 22rpx;
        font-size: 28rpx;
    }

    .coupon {
        .left {
            display: flex;
            column-gap: 5rpx;
        }

        .right {
            .limit {
                color: #e80e11;
            }
        }
    }

    .tip {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(187, 187, 187, 100);
        padding-bottom: 24rpx;

        .tip-text {
            transform: translateY(-5rpx);
            font-size: 24rpx;
            color: #e80e11;
        }
    }

    .count-price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20rpx;
        column-gap: 10rpx;
        font-size: 26rpx;

        .hui {
            color: #686868;
        }

        .jian-price {
            color: #e90e11;
        }

        .price {
            font-weight: 700;
            font-size: 32rpx;
        }
    }
}


// 优惠券

.selectCoupon {
    padding: 0 40rpx;

    .coupon-title {
        font-size: 40rpx;
        font-weight: 700;
        text-align: center;
        padding: 40rpx 0;
        border-bottom: 2rpx solid #f4f4f4;
    }

    .coupon-scroll {
        height: 650rpx;

        .coupon-item {
            display: flex;
            align-items: center;
            padding: 30rpx 0;
            border-bottom: 2rpx solid #f4f4f4;

            .coupon-info {
                flex: 1;

                .data {
                    font-size: 24rpx;
                    color: rgba(136, 136, 136, 100);
                    margin-top: 6rpx;
                }
            }

            .coupon-price {
                color: rgba(246, 94, 47, 100);
                font-size: 24rpx;
                margin-right: 18rpx;
                font-weight: 700;
            }
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }

}


.btn-g {
    .isUse {
        width: 500rpx;
        height: 72rpx;
        text-align: center;
        line-height: 72rpx;
        color: #fff;
        border-radius: 999px;
        background-color: #2e9bf4;
        border: 1px solid #019AF6;
        margin: 0 auto;
    }
}

// 协议
.xieyi-scroll {
    color: #888888;
    padding: 10rpx 20rpx 30rpx;
    box-sizing: border-box;
    height: 1040rpx;
}

// 底部
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 132rpx;
    border-top: 2rpx solid #E2E2E2;
    box-sizing: border-box;

    .left {
        flex: 1;
        height: 100%;
        padding: 20rpx 20rpx;
        font-size: 26rpx;

        .count {
            margin-bottom: 5rpx;
        }

        .radio-text {
            font-size: 24rpx;
        }
    }

    .goPay {
        height: 100%;
        width: 254rpx;
        background-color: #274f0c;
        color: #F5E4AD;
        font-size: 36rpx;
    }
}