/* components/address-card/index.wxss */
.copy {
    margin-left: 15rpx;
    font-size: 26rpx;
    color: rgba(64, 184, 80, 100);
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30rpx 0;
    row-gap: 30rpx;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 100);

    .address-item {
        display: flex;
        align-items: center;
        column-gap: 26rpx;
        padding: 0 30rpx;

        .icon-left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52rpx;
            height: 52rpx;
            background-color: #40B850;
            border-radius: 50%;

            .icon {
                width: 34rpx;
                height: 34rpx;
            }
        }

        .two {
            background-color: #4C168E;
        }

        .addressInfo {
            flex: 1;

            .header {
                display: flex;
                align-items: center;
                font-size: 30rpx;

                .name {
                    margin-right: 32rpx;
                }

            }

            .addressDetail {
                color: rgba(153, 153, 153, 100);
                font-size: 12px;
                margin-top: 20rpx;
            }

        }
    }
}