/* pages/copyLocation/index.wxss */
.page{
    padding: 0 30rpx;
}

.location-container {
    box-sizing: border-box;
    height: 458rpx;
    line-height: 20px;
    padding: 25rpx 0 0 40rpx;
    margin: 50rpx auto;
    opacity: 0.85;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 79);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 100);

    .title {
        display: flex;
        align-items: center;
        color: rgba(16, 16, 16, 100);
        font-size: 40rpx;

        .icon-container {
            width: 52rpx;
            height: 52rpx;
            background-color: #FFA726;
            border-radius: 50%;
            margin-right: 15rpx;

            .location-icon {
                width: 40rpx;
                height: 40rpx;
            }
        }
    }

    .line{
        display: flex;
        padding-top: 20rpx;
        margin-bottom: 25rpx;

        .line-header{
            width: 160rpx;
            text-align: right;
        }

        .desc{
            flex: 1;
            word-wrap: break-word;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}

.copyContainer{   
    width: 95%;
    margin: 0 auto 40rpx;
}

.line{
    margin-bottom: 20rpx;
    .title{
        font-weight: 700;
        font-size: 36rpx;
        margin-bottom: 22rpx;
    }

    .content{
        font-size: 30rpx;
        font-weight: 300;
    }

    .content::before{
        content: '占位';
        opacity: 0;
    }
}

.line:last-of-type{
    padding-bottom: 60rpx;
}