/* components/order-card/index.wxss */
.copy {
    margin-left: 15rpx;
    font-size: 26rpx;
    color: rgba(64, 184, 80, 100);
}

.orderInfo {
    padding: 30rpx 30rpx 0 30rpx;
    font-size: 28rpx;
    margin: 40rpx 0 30rpx;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 100);

    .item {
        margin-bottom: 20rpx;

        .status {
            color: #fcd72a;
        }

        .tianxie{
            color: #d87216;
        }

        .rucang{
            color: #fcd72a;
        }

        .jianhuo{
            color: #fcd72a;
        }

        .weizhifu{
            color: #e80e11;
        }
    }
}